
html,body{height:100vh}

body{
    background-color: #43b4d2;
}
td.username-cell {
    cursor: pointer;
    
}

div.appLayout{
    width: 410px;
    height: 100%;
    min-height: 100%;
}

div.row.friend-row{
    cursor: pointer;
}
div.row.friend-row:hover{
    background: #f5f5f5;
    
}
